In [1]:
import pandas as pd

In [6]:
import numpy as np

In [25]:
tu1 = list(zip(['a','b','b','a','a','b'],[1,2,1,2,3,3]))

In [26]:
tu1

[('a', 1), ('b', 2), ('b', 1), ('a', 2), ('a', 3), ('b', 3)]

In [27]:
idx = pd.MultiIndex.from_tuples(tu1,names=['类别','型号'])

In [28]:
idx

MultiIndex([('a', 1),
            ('b', 2),
            ('b', 1),
            ('a', 2),
            ('a', 3),
            ('b', 3)],
           names=['类别', '型号'])

In [29]:
df = pd.DataFrame(np.random.randn(6,3),index=idx)

In [40]:
df.groupby(['类别','型号']).sum()

              0         1         2
类别 型号
a  1   0.098188 -1.302089  0.349335
   2   0.132089  0.257805 -1.001889
   3   0.719447  0.820427  0.172624
b  1  -0.765669 -0.066762  0.896799
   2  -0.528533 -0.825258  0.560273
   3  -1.963072  0.529392  0.501375

In [41]:
pd.pivot_table(df,index=['类别','型号'],aggfunc='sum')

              0         1         2
类别 型号
a  1   0.098188 -1.302089  0.349335
   2   0.132089  0.257805 -1.001889
   3   0.719447  0.820427  0.172624
b  1  -0.765669 -0.066762  0.896799
   2  -0.528533 -0.825258  0.560273
   3  -1.963072  0.529392  0.501375