In [2]:
from operator import itemgetter

In [9]:
from operator import mul

In [3]:
from functools import reduce

In [6]:
# 阶乘
def fact(n):
    return reduce(lambda x,y : x * y,range(1,(n + 1)))

In [7]:
fact(5)

120

In [12]:
# 使用 mul函数代替lambda
def fact(n):
    return reduce(mul,range(1,(n+1)))

In [13]:
fact(5)

120

In [16]:
# 排序
metro_data = [('Tokyo','JP',36.933,(35.689722,139.691667)),
              ('Delhi NCR','IN',21.935,(28.613889,77.208889)),
              ('Mexico City','MX',20.142,(19.433333,-99.133333)),
              ('New York-Newark','US',20.104,(40.808611,-74.020386)),
              ('Sao Paulo','BR',19.649,(-23.547778,-46.635833))
             ]

In [17]:
sorted_metro_data = sorted(metro_data,key=lambda x:x[1])

In [18]:
sorted_metro_data

[('Sao Paulo', 'BR', 19.649, (-23.547778, -46.635833)),
 ('Delhi NCR', 'IN', 21.935, (28.613889, 77.208889)),
 ('Tokyo', 'JP', 36.933, (35.689722, 139.691667)),
 ('Mexico City', 'MX', 20.142, (19.433333, -99.133333)),
 ('New York-Newark', 'US', 20.104, (40.808611, -74.020386))]

In [20]:
# sorted()返回一个新对象，原数据未修改
metro_data

[('Tokyo', 'JP', 36.933, (35.689722, 139.691667)),
 ('Delhi NCR', 'IN', 21.935, (28.613889, 77.208889)),
 ('Mexico City', 'MX', 20.142, (19.433333, -99.133333)),
 ('New York-Newark', 'US', 20.104, (40.808611, -74.020386)),
 ('Sao Paulo', 'BR', 19.649, (-23.547778, -46.635833))]

In [21]:
# 使用itemgetter代替lambda
sorted_metro_data = sorted(metro_data,key=itemgetter(1))

In [22]:
sorted_metro_data

[('Sao Paulo', 'BR', 19.649, (-23.547778, -46.635833)),
 ('Delhi NCR', 'IN', 21.935, (28.613889, 77.208889)),
 ('Tokyo', 'JP', 36.933, (35.689722, 139.691667)),
 ('Mexico City', 'MX', 20.142, (19.433333, -99.133333)),
 ('New York-Newark', 'US', 20.104, (40.808611, -74.020386))]

In [27]:
for city in sorted(metro_data,key=itemgetter(2)):
    print(city)

('Sao Paulo', 'BR', 19.649, (-23.547778, -46.635833))
('New York-Newark', 'US', 20.104, (40.808611, -74.020386))
('Mexico City', 'MX', 20.142, (19.433333, -99.133333))
('Delhi NCR', 'IN', 21.935, (28.613889, 77.208889))
('Tokyo', 'JP', 36.933, (35.689722, 139.691667))

In [28]:
cc_name = itemgetter(1,0)

In [37]:
for city in metro_data:
    print(cc_name(city))

('JP', 'Tokyo')
('IN', 'Delhi NCR')
('MX', 'Mexico City')
('US', 'New York-Newark')
('BR', 'Sao Paulo')

In [39]:
# attrgetter
from collections import namedtuple

In [40]:
LatLong = namedtuple('LatLong','lat long')

In [41]:
Metropolis = namedtuple('Metropolis','name cc pop coord')

In [46]:
metro_areas = [Metropolis(name, cc, pop, LatLong(lat, long)) for name,cc,pop,(lat,long) in metro_data]

In [47]:
metro_areas[0]

Metropolis(name='Tokyo', cc='JP', pop=36.933, coord=LatLong(lat=35.689722, long=139.691667))

In [49]:
metro_areas[0].coord.lat

35.689722

In [50]:
from operator import attrgetter

In [51]:
name_lat = attrgetter('name','coord.lat')

In [54]:
# attrgetter 使用字符串获取对应属性的值，（反射 getattr）
for city in sorted(metro_areas,key=attrgetter('coord.lat')):
    print(name_lat(city))

('Sao Paulo', -23.547778)
('Mexico City', 19.433333)
('Delhi NCR', 28.613889)
('Tokyo', 35.689722)
('New York-Newark', 40.808611)

In [55]:
# methodcaller 
from operator import methodcaller

In [56]:
upcase = methodcaller('upper')

In [57]:
s = 'hello world'

In [58]:
upcase(s)

'HELLO WORLD'

In [59]:
hiphenate = methodcaller('replace',' ','-')

In [60]:
hiphenate('how old are you?')

'how-old-are-you?'

In [62]:
# partial，冻结部分参数
from functools import partial

In [65]:
# 使用partial构建一个新的函数triple,triple函数接收到的参数会跟3相乘，相当于冻结了其中一个因数
triple = partial(mul,3)

In [64]:
# 传入的参数跟3相乘
triple(7)

21